# Build outputs
bin/
obj/

# Database
*.db
*.db-shm
*.db-wal

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# VS Code
.vscode/

# Rider
.idea/

# Visual Studio
.vs/

# NuGet
*.nupkg
packages/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# JSON files for postman collection

MovieAPI.postman_collection.json 
MovieAPI-Simple.postman_collection.json
